@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.boardButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;

  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
  }
}

.emotionsList {
  &Mobile {
    @include media-breakpoint-up(sm) {
      display: none;
    }
  }

  &Desktop {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.addEmotionModal {
  &Header {
    border-bottom: none;
    background-color: var(--card-color);
  }

  &Body {
    background-color: var(--card-color);
  }
}
